body {
    background-color: black;
    color: seashell;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.333;
    font-weight: 700;
    text-align: center;

}

* {
    margin: 0;
    padding: 0;
}

h2,
h3 {
    font-size: 2rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.locations p,
.contact p {
    font-size: 1.125rem;
    line-height: 1.777;
    margin-bottom: 1rem;
}

nav {
    line-height: 2;
    font-weight: 400;
}

header {
    max-width: 1264px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid seashell;
    padding: 1.25rem 2rem;
    gap: 1.25rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    column-gap: 1.25rem;
}

a {
    color: seashell;
}

figure img {
    width: 300px;
    height: 200px;
    padding-bottom: 1rem;
}

.mission {
    background-image: url("img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 700px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.mission-text {
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 1rem 2rem;

}

.featured-tea-text {
    padding: 1rem 1rem;
}

figcaption {
    padding: 1rem 1rem;
}

.featured-container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;
    margin-bottom: 2rem;
}

figure {
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

.locations {
    background-image: url("img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    max-width: 1200px;
    min-height: 576px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 4rem;
    padding: 1rem;
}

.address {
    background-color: black;
    flex-basis: 300px;
    padding: 1rem;
    box-sizing: border-box;

}

.locations h2 {
    flex-basis: 100%;
}

.locations h3 {
    font-size: 24px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

footer {
    max-width: 1200px;
    font-size: 18px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}